body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-image: url('assets/confetti.png');*/
  background-repeat: repeat;
  background-size: auto;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    height: 100%;
  }
  to {
    opacity: 0;
    height: 0;
  }
}
.container-all {
  position: relative;
}

.container-all.loading {
  overflow: hidden;
  height: 100vh;
}

#loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  z-index: 9999;
}

.loaded #loader {
  animation: fadeOut 0.4s ease forwards;
}

.bg-pattern {
  background-image: url('assets/confetti.png');
  background-repeat: repeat;
  background-size: auto;
}

.edit-btn-absolute {
  position: absolute;
  top: 15px;
  right: 10px;
}

code {

  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1.site-title {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.search-form {
  position: relative;
}

.search-form input {
  padding-right: 78px;
}

.search-form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.recipe-card {
  padding: 0;
}

.recipe-card .card-body {
  padding: 20px;
}

.recipe-card .card-bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.recipe-card .card-bg-img img {
  opacity: 0;
  display: block;
  width: 100%;
  height: auto;
}

.recipe-tags {
  list-style: none;
  margin: 0;
  padding: 0;
}

.task-edit-bar {
  border-radius: 3px;
  position: relative;
}
.task-edit-bar .task-checkbox-wrap {
  border-radius: 0 0 0 3px;
}

button.special-border-radius {
  border: 0 none;
  border-radius: 0 0 3px 0 !important;
  height: 100%;
}

.special-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40px;
  text-align: center;
}

.special-checkbox input {
  position: relative;
  top: -2px;
}

/* Note: some of this CSS is re from a prior project of mine: https://github.com/stefamy/some-like-it-hot-sauce */


/*.grid {*/
/*  -webkit-column-count: 4;*/
/*  column-count: 4;*/
/*  -webkit-column-gap: 10px;*/
/*  column-gap: 10px;*/
/*  position: relative;*/
/*}*/

/*.grid .item {*/
/*  display: block;*/
/*  position: relative;*/
/*  padding: 10px 15px;*/
/*  -webkit-break-inside: avoid;*/
/*  break-inside: avoid;*/
/*  page-break-inside: avoid;*/
/*  overflow: hidden;*/
/*}*/

/*.grid .item .card {*/
/*  -webkit-border-radius: 10px;*/
/*  -moz-border-radius: 10px;*/
/*  border-radius: 10px;*/
/*}*/
/*.card a {*/
/*  -webkit-border-radius: 10px;*/
/*  -moz-border-radius: 10px;*/
/*  border-radius: 10px;*/
/*  display: block;*/
/*  text-decoration: none;*/
/*  color: #444;*/
/*  background-color: rgba(255, 255, 255, 0);*/
/*  border: 2px solid #F85A3E;*/
/*  -webkit-box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.0);*/
/*  -moz-box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.0);*/
/*  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.0);*/
/*  transition: 0.2s all;*/
/*  overflow: hidden;*/
/*}*/
/*.card .card-bg-img {*/
/*  border-bottom: 4px solid #F85A3E;*/
/*  transition: 0.2s all;*/
/*}*/

/*.card a:hover .card-bg-img,*/
/*.card a:active .card-bg-img {*/
/*  border-bottom: 4px solid #FF7733;*/
/*}*/

/*.card a:hover,*/
/*.card a:active {*/
/*  background-color: #f2f2f2;*/
/*  border: 2px solid #FF7733;*/
/*  -webkit-box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.15);*/
/*  -moz-box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.15);*/
/*  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.15);*/
/*  color: #E63B2E;*/
/*}*/

.recipe-tags {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}
